*{
    margin: 0;
    padding: 0;
}

.body{
    max-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 94.9vh;

}

.gameboard{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: fit-content;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    text-align: center;
}

.footer{
    margin-top: auto;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}